<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Business Inventory</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.resolver_match.url_name == "home" %} class="active" {% endif %}><a href="/">Home <span
                        class="sr-only">(current)</span></a></li>
                <li {% if request.resolver_match.url_name == "listing_list" %} class="active" {% endif %}><a
                        href="{% url 'listing_list' %}">Listings</a></li>
                <li {% if request.resolver_match.url_name == "category_list" %} class="active" {% endif %}><a
                        href="{% url 'category_list' %}">Categories</a></li>
                <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>


                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>

                    </li>
                 -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/admin/">Admin</a></li>
                    <li {% if request.resolver_match.url_name == "logout" %} class="active" {% endif %}><a
                            href="{% url "logout" %}">Logout</a></li>
                    <li {% if request.resolver_match.url_name == "logout" %} class="active" {% endif %}><a
                            href="{% url "logout" %}">Welcome {{ request.user.username|title }}</a></li>

                {% else %}

                    <li {% if request.resolver_match.url_name == "login" %} class="active" {% endif %}><a
                            href="{% url "login" %}">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>