<footer class="bs-docs-footer">
    <div class="container">

        <ul class="bs-docs-footer-links">
            <li><a href="https://github.com/twbs/sponsors">Sponsors</a></li>
            <li><a href="https://twitter.com/authors">Authors</a></li>
            <li><a href="getting-started/#examples">Examples</a></li>
            <li><a href="about/">About</a></li>
        </ul>

        <p>Designed and built with all the love in the world by <a href="https://twitter.com/miravicson"
                                                                   target="_blank">@miravicson</a> and <a
            {#                href="https://twitter.com/sunnexajayi" target="_blank">@sunnexajayi</a>. Maintained by the <a#}
            {#                href="https://github.com/orgs/twbs/people">core team</a> with the help of <a#}
            {#                href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.#}
        </p>

        <p>Code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>,
            docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>

    </div>
</footer>