{% extends 'base.html' %}

{% block title %} 404 page {% endblock title %}

{% block content %}
    <style>
        body {
            margin-bottom: 0;
            padding-bottom: 0;
            min-height: 100%;
        }
        footer {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
    <header>
        <div class="container">

            <div class="jumbotron">
                <h2>We are sorry, the page you requested does not exist, or has been taken down. or probably our
                    programmers were sloppy!!!</h2>

            </div>

        </div>
    </header>
{% endblock content %}

