<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Victor Ughonu">
    <meta name="keywords" content="Business,Listing,Lists,Business Address,Business Addresses,Website For Business">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Business Directory {% endblock %}</title>
    {% block stylesheets %}
        {% include 'includes/css.html' %}
    {% endblock stylesheets %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
 
{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock nav %}

{% block content %}
   
{% endblock content %}




{% block footer %}
    {% include 'includes/new_footer.html' %}

{% endblock footer %}


{% block scripts %}
    {% include 'includes/js.html' %}
{% endblock scripts %}


</body>
</html>