{% extends 'base.html' %}
{% block title %} {{ block.super }} || Categories {% endblock title %}
{% block content %}
    <header>
        <div class="container">

            <div class="jumbotron text-center">
                <h1>{{ category.name }}</h1>
                {% if user.is_authenticated %}
                    <div style="padding-top: 20px; padding-bottom: 10px;">
                        <a href="#" class="btn btn-default btn-lg">Edit Category</a>
                        <a href="{% url 'category_delete' category.pk %}" onclick="return confirm ('Are you sure you want to Delete ?' )" class="btn btn-danger btn-lg">Delete Category</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </header>
    <div class="row well">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Listings Under {{ category.name }}</h2>
                    {% if category_list %}
                        <ul class="list-group">
                            <div class="panel panel-default">
                            </div>
                            {% for cat_list in category_list %}
                                <a href="{% url "listing" cat_list.pk %}">
                                    <li class="list-group-item">{{ cat_list.name }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3 class="text-center">There are no listings associated with this category</h3>
                        <div style="padding-top: 20px; padding-bottom: 10px;" class="text-center">
                            <a href="#" class="btn btn-default btn-lg">Add Listings</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}