{% extends 'base.html' %}
{% block content %}
    <style>
        .row {
            padding-top: 60px;
        }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group has-errors text-danger small">
                            {{ field.errors }}
                        </div>
                        <div class="form-group has-errors text-danger small">
                        </div>
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit Form</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}