{% extends 'base.html' %}



{% block content %}
    <header>
        <div class="container">

            <div class="jumbotron">
                <h1>Business Directory</h1>

                <h2>Index your world. Bridge the gap between customers and business owners</h2>

            </div>
           
           


        </div>
        
    </header>
    {%if messages %}
        <div class='row'>
                <div class='col-sm-6 col-sm-offset-3'>
                    {%for message in messages %}
                        <p {% if message.tags %} class="alert alert-success" {% endif %}>{{ message }}</p>
                    {% endfor %}
            
                </div>
            </div>
            {% endif %}
    <div class="row well">
        <!-- Top Five Categories-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center"> Business Categories</h2>
                    {% if categories %}
                        <ul class="list-group">
                            <div class="panel panel-default">
                            </div>
                            {% for category in categories %}
                                <a href="{% url "category"  category.pk %}">
                                    <li class="list-group-item text-justify">{{ category.name }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3 class="text-center">You don't have any categories yet</h3>
                    {% endif %}

                </div>
                <div class="text-center">
                    <a type="button" class="btn btn-default btn-lg" href="{% url 'category_list' %}">More Categories</a>
                </div>
            </div>
        </div>

        <!--Top Five Listings-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Business Listings</h2>
                    <ul class="list-group">
                        <div class="panel panel-default">
                        </div>
                        {% for list in business %}
                            <a href="{% url 'listing' list.pk %}">
                                <li class="list-group-item text-justify">{{ list.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>

                </div>
                <div class="text-center">
                    <a type="button" class="btn btn-default btn-lg" href="listing_list">More Listing</a>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center">
        <div class="create_auth">
            {% if user.is_authenticated %}
                <a href="#" class="btn btn-primary btn-lg">New Category</a>
                <a href="{% url 'create_listing' %}" class="btn btn-default btn-lg">New Listing</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Sign In</a>
            {% endif %}

        </div>

    </div>

{% endblock content %}