{% extends 'base.html' %}
{% block title %} {{ block.super }} || Listings {% endblock title %}

{% block content %}
    <header>
        <div class="container">

            <div class="jumbotron text-center">
                <h1>{{ listing.name }}</h1>

                <h2>{{ listing.business_description }}</h2>
                {% if user.is_authenticated %}
                    <div style="padding-top: 20px; padding-bottom: 10px;">
                        <a href="{% url 'list_delete' listing.pk %}" onclick="return confirm ('Are you sure you want to Delete ?' )" class="btn btn-danger btn-lg">Delete Listing</a>
                        <a href="{% url 'edit_listing' listing.pk %}" class="btn btn-default btn-lg">Edit Listing</a>
                    </div>
                {% endif %}

            </div>

        </div>
    </header>
    <div class="row well">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Categories Belonged</h2>

                    {% if list_cat %}
                        <ul class="list-group">
                            <div class="panel panel-default">
                            </div>
                            {% for category in list_cat %}
                                <li class="list-group-item"><a href="{% url 'category' category.pk %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}

                        <h3 class="text-center"> You don't have any category yet</h3>
                        <div style="padding-top: 20px; padding-bottom: 10px;" class="text-center">
                            <a href="#" class="btn btn-default btn-lg">Add Category</a>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Contact Details</h2>
                    <div class="panel panel-default">
                        {% if listing %}
                            <ul class="list-group">
                                <li class="list-group-item">Phone Number: <span
                                        class="text-right">{{ listing.phone1 }}</span></li>
                                {% if listing.phone2 %}
                                    <li class="list-group-item">Alternate Number: <span
                                            class="text-right">{{ listing.phone2 }}</span></li>
                                {% endif %}
                                <li class="list-group-item"> Web Address: <a
                                        href="{{ listing.web_address }}" target="_blank">{{ listing.web_address }}</a></li>
                                <li class="list-group-item"> Email Address: <a
                                        href="{{ listing.email }}">{{ listing.email }}</a></li>
                                <li class="list-group-item"> Address: {{ listing.address }}</li>
                                <li class="list-group-item"> Views: {{ listing.views }}</li>


                            </ul>
                        {% else %}
                            <h2> You don't have any listing from this category</h2>

                        {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}