{% extends 'base.html' %}
{% block title %} {{ block.super }} || Listing List {% endblock title %}

{% block content %}
    <header>
        <div class="container">

            <div class="jumbotron">
                <h1>Listings List</h1>

                <h2></h2>

            </div>

        </div>
    </header>

    <div class="row well">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                        <ul class="list-group">
                            {% for listing in business_list %}
                                <a href="{% url "listing"  listing.pk %}">
                                    <li class="list-group-item text-justify">{{ listing.name }}</li>
                                </a>

                            {% endfor %}
                        </ul>

                    </div>


                </div>


            </div>

            <div class="col-md-4">
                <div class="row">

                        <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listings</h3>
                        </div>
                        <div class="panel-body">
                            <form method="get">

                                <div class="form-group">
                                    <input type="search" cols="100" placeholder="Search for Listings"
                                           class="form-control input-lg">
                                </div>

                                <button class="btn btn-primary btn-lg" type="submit">Search</button>


                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock content %}


