{% extends 'base.html' %}
{% block content %}
    <style>
        .row {
            padding-top: 60px;
        }
    </style>

    <header>
        {#        <div class="container">#}
        {##}
        {#            <div class="jumbotron">#}
        {#                <h1>Category List</h1>#}
        {##}
        {#                <h2></h2>#}
        {##}
        {#            </div>#}

        {#        </div>#}
    </header>


    <div class="container-fluid well">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Create Listing</h2>
                    </div>
                    <div class="panel-body">
                        <h2>Login</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="form-group has-errors text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% for field in form %}
                                <div class="form-group has-errors text-danger small">
                                    {{ field.errors }}
                                </div>
                                <div class="form-group has-errors text-danger small">
                                </div>
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}